langchain
langgraph
langchain-groq
langchain-community
langchain-weaviate
langchain-huggingface
weaviate-client
neo4j
ragas
langsmith
fastapi
uvicorn
python-dotenv
sentence-transformers
pillow
xgboost
lightgbm
catboost
shap
docker
pypdf

